@model IEnumerable<BFH.EADN.UI.Web.Models.Play.Overview>

@if(string.IsNullOrEmpty(Model.First().ContinueQuizUrl) == false)
{
    <a href="@Model.First().ContinueQuizUrl" class="btn btn-primary">Continue last played quiz</a>
}

@foreach (var item in Model)
{
    <h2>
        @item.TopicName
    </h2>
    <table class="table">
        <tbody>
            @for(var i = 0; i < item.QuizItems.Count; i++)
            {
                <tr>
                    <td>@item.QuizItems[i].Text</td>
                    <td>@Html.ActionLink("Play", "ValidationType", new { quizId = @item.QuizItems[i].QuizId })</td>
                </tr>
            }
        </tbody>
    </table>
}
