@model BFH.EADN.UI.Web.Models.Play.Question

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>
@using (Html.BeginForm("Next", "Play", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.DisplayFor(m => m.Text)
    @Html.DisplayFor(m => m.Hint)

    <div class="quiz-validation">
        @Html.ValidationMessageFor(m => m.Answers, "", new { @class = "text-danger" })
    </div>

    if (Model.IsMultipleChoice)
    {
        foreach (var item in Model.Answers)
        {
            @:<div class="checkbox">
                @:<label>
                    @:<input type="checkbox" name="answers[]" value="@item.Id">
                    @item.Text
                @:</label>
            @:</div>
        }
    }
    else
    {
        bool isFirst = true;
        foreach (var item in Model.Answers)
        {
            @:<div class="radio">
                @:<label>
                    if (isFirst)
                    {
                        @:<input type="radio" name="answers" value="@item.Id" checked>
                    }
                    else
                    {
                        @:<input type="radio" name="answers" value="@item.Id">
                    }
                    @item.Text
                @:</label>
            @:</div>

            isFirst = false;
        }
    }
    
    <div class="quiz-navigation">
        @if (Model.PreviousQuestion.HasValue)
        {
            @Html.ActionLink("Previous", "Play", new { quizId = Model.QuizId, questionId = Model.PreviousQuestion.Value }, new { @class = "btn btn-default" })
        }
        else
        {
            @:Previous
        }

        @Html.HiddenFor(m => m.QuizId)
        @Html.HiddenFor(m => m.QuestionId)
        @if (Model.NextQuestion.HasValue)
        {
            @Html.Hidden("nextQuestionId", Model.NextQuestion)

            <input type="submit" value="Next" , class="btn btn-primary" />
        }
        else
        {
            <input type="submit" value="Complete Quiz" , class="btn btn-success" />
        }
    </div>
}

