@model BFH.EADN.UI.Web.Models.Management.Question
@if (Model.Answers != null && Model.Answers.Count > 0)
{
    foreach (var answer in Model.Answers)
    {
        @:<input type="hidden" name="SelectedAnswerIds[]" value="@answer.Id" />
        }
}
<div class="form-group">
    @Html.LabelFor(model => model.Answers, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ValidationMessageFor(model => model.SelectedAnswerIds, "", new { @class = "text-danger" })
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>IsSolution</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Answers == null || Model.Answers.Count == 0)
                {
                    <tr>
                        <td colspan="5">
                            No answers exists!
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var answer in Model.Answers)
                    {
                        <tr>
                            <td>@answer.Text</td>
                            <td>@answer.IsSolution</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { controller = "Answer", id = answer.Id, questionId = Model.Id }) |
                                @Html.ActionLink("Details", "Details", new { controller = "Answer", id = answer.Id, questionId = Model.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { controller = "Answer", id = answer.Id, questionId = Model.Id })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @Html.ActionLink("Create new answer", "Create", new { controller = "Answer", questionId = Model.Id })
    </div>
</div>