@model BFH.EADN.UI.Web.Models.Management.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMultipleChoise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMultipleChoise)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
